<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">На главную<span class="sr-only">(current)</span></a>
      </li>

      <!--      <li class="nav-item">-->
      <!--        <a class="nav-link" href="#">Дополнительные ссылки</a>-->
      <!--      </li>-->
      <li *ngIf="authService.isAuth()" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Меню
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/appList">Ваша ссылка</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/userList">Пользователи</a>
          <!--          <a class="dropdown-item" href="#"> Доп ссылка</a>-->
        </div>
      </li>
      <li class="nav-item">
        <!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Выключенные ссылки</a>-->
      </li>
    </ul>
    <a  class="navbar-brand text-right" href="#"></a>
    <form class="form-inline my-2 my-lg-0">
      <button *ngIf="this.authService.isAuth()" class="btn btn-outline-danger my-2 my-sm-0" type="button" (click)="logout()">Выход</button>
      <button *ngIf="!this.authService.isAuth()"  class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="login()">Вход</button>
<!--      можно отобразить регистрацию пользователя-->
<!--            <button *ngIf="!this.authService.isAuth()"  class="btn btn-outline-info my-2 my-sm-0" type="button" (click)="registry()">Регистрация</button>-->
    </form>
  </div>
</nav>
