<div *ngIf="newUser">
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Логин</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" disabled
               [(ngModel)]="newUser.login">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="newUser.pwd">
      </div>

      <div class="btn-group float-right shadow rounded">
        <button  id="jhi-confirm-update-transportation" type="button" (click)="login()" style="border-left-color: white"
                 class="btn btn-primary">
          <span>Вход</span>
        </button>
      </div>
    </div>
  </div>
</div>
